@using Autofac.Core.Lifetime
@using Microsoft.Ajax.Utilities
@model TeduShop.Web.Models.ProductViewModel

@{
    ViewBag.Title = Model.Name;
    ViewBag.MetaKeyword = Model.MetaKeyword;
    ViewBag.MetaDescription = Model.MetaDescription;
    Layout = "~/Views/Shared/Layouts.cshtml";
}

<div class="breadcrumb">
    <div class="container">
        <a href="index.html" class="li">Trang chủ / </a>
        <span class="li active">Điện thoại di động sam sung j7</span>
    </div>
</div>
<section class="sec sec__product__detail">
    <div class="container">
        <div class="row">
            <div class="product__view__image col-md-6 col-sm-6 col-xs-12">
                <div class="row">
                    <div class="col-sm-9 col-xs-9">
                        <div class="product__view__image--list">

                            <a href="@Model.Image" data-fancybox="gallery" class="fancybox">
                                <img src="@Model.Image" class="elevate__zoom" data-zoom-image="@Model.Image" id="elevate__zoom" title="product-2">
                            </a>
                            <div class="hidden">
                            @{
                                var moreImages = (List<string>) ViewBag.MoreImages;
                                foreach (var image in moreImages)
                                 {
                                     <a href="@image" data-fancybox="gallery" class="fancybox">
                                         <img src="@image" alt="">
                                     </a>
                                 }
                            }
                              
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-3">
                        <div class="product__view__image--thumb" id="image-additional-carousel">
                            @{
                                 moreImages = (List<string>)ViewBag.MoreImages;

                                if (moreImages.Count > 0)
                                {
                                    foreach (var image in moreImages)
                                    {
                                        <div class="item">
                                            <a href="@image" data-image="@image" class="elevate__zoom">
                                                <img src="@image" data-zoom-image="@image" title="@Model.Name" alt="">
                                            </a>
                                            <a href="@image" data-image="@image" class="elevate__zoom">
                                                <img src="@image" data-zoom-image="@image" title="@Model.Name" alt="">
                                            </a>
                                           
                                        </div>
                                        
                                    }

                                }
                            }

                            
                        </div>
                    </div>
                </div>

            </div>
            <div class="product__view__content col-md-6 col-sm-6 col-xs-12">
                <h2 class="product__view__name">@Model.Name</h2>
                <div class="product__price product__price__view">
                    <span class="product__price--txt">Giá bán</span>
                    <div class="product__price__regular">@(Model.PromotionPrice > 0 ? Model.PromotionPrice : Model.Price ) <span class="unit">đ</span></div>
                    @if (Model.PromotionPrice > 0)
                    {
                        <div class="product__price__old"> @Model.Price <span class="unit">đ</span></div>
                    }
                    else
                    {
                        <div class="product__price__old">  </div>
                    }
                    

                    <div class="product__view__info">
                        <p class="info">Thương hiệu : <a href="#">@Model.ProductCategory</a></p>
                        <p class="info">Tình trạng: <span class="name">@(Model.Quantity >= 1 ? "Còn Hàng" : "Hết Hàng") </span></p>

                    </div>
                    <div class="product__view__desc">
                        <div class="product__desc__title bold">Mô tả:</div>
                        <div class="product__shortdesc__txt">
                            @Model.Description
                        </div>
                    </div>


                    <div class="product__quantity product__view__quantity">
                        <div class="name">Số lượng:</div>
                        <button class="btn-minus btn">
                            -
                        </button>
                        <input type="text" class="input-number" value="1">
                        <button class="btn-plus btn">
                            +
                        </button>
                        <div class="clearfix"></div>
                    </div>
                    <a class="product__view__button__cart btnAddToCart" href="#" data-id="@Model.ID"><span class="icon fa fa-shopping-bag"></span>Mua ngay</a>
                    <div class="tag margin-top-4" >
                        <h5>Tag :</h5>
                        <ul class="taglist">
                            @{
                                var tags = (IEnumerable<TeduShop.Web.Models.TagViewModel>)ViewBag.Tags;
                                if (tags != null)
                                {
                                    foreach (var tag in tags)
                                    {
                                        if (tag != null)
                                        {
                                            <li><a href="/tag/@(tag.ID).html">@(tag.Name), </a></li>
                                        }
                                        else
                                        {
                                            <li><a href="#"></a></li>
                                        }
                                    }
                                }
                                
                            }


                        </ul>
                    </div>
                </div>
           
            </div>
          </div>
        <div class="product__detail__content">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">THÔNG TIN SẢN PHẨM</a></li>
                <li><a data-toggle="tab" href="#menu1">ĐÁNH GIÁ</a></li>
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <article class="article">
                        @Html.Raw(Model.Content)
                    </article>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <p>Chưa có đánh giá nào</p>
                </div>
            </div>
          
        </div>
    </div>
    <div class="category-detail">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="box-product ">
                        <div class="tab-product">
                            <ul class="nav_title clearfix">
                                <li role="presentation" class="active">
                                    <a href="#">Sản Phẩm liên Quan</a>
                                </li>
                            </ul>
                            <div class="nav__slider nav-slider__product_2">
                                <div class="nav prev">
                                    <span class="icon fa fa-angle-left"></span>
                                </div>
                                <div class="nav next">
                                    <span class="icon fa fa-angle-right"></span>
                                </div>
                            </div>
                            @{
                                var relatedProducts = (IEnumerable<TeduShop.Web.Models.ProductViewModel>)ViewBag.RelatedProducts;
                            }
                            <div class="content-tab-product">
                                <div class="tab-content content">
                                    <div id="box-product" class="tab-content-pane active">
                                        <div class="slider__product_2">
                                        @foreach (var product in relatedProducts)
                                        {
                                            <div class="item">
                                                <div class="item-product hover-action-product style-view-2   clearfix">
                                                    <span class="status-product bg-red">HOT</span>
                                                    <div class="col-xs-6 img bg-img-113" title="@product.Name">
                                                        <a href="/@(product.Alias).p-@(product.ID).html" title="Điện thoại di động Sam Sung J7">
                                                            <img src="@product.Image" alt="@product.Name" class="img-product">
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-6 info">
                                                        <h4 class="title-product">
                                                            <a href="/@(product.Alias).p-@(product.ID).html">@product.Name</a>
                                                        </h4>
                                                        <div class="price price-inline">
                                                            @if (product.PromotionPrice > 0)
                                                            {
                                                                <div class="price-well"> @product.Price <span class="unit">đ</span></div>
                                                                <p class="price-before">
                                                                    @product.Price.ToString("N0")
                                                                </p>
                                                            }
                                                            else
                                                            {
                                                                <p class="price-well">
                                                                    @product.Price.ToString("N0")
                                                                </p>
                                                            }
                                                           
                                                           

                                                        </div>
                                                        <div class="desc-product-thumb">
                                                            <p>Chipset:&nbsp;Qualcomm Snapdragon 410 MSM8916, 1.2 GHz</p>
                                                            <p>RAM 1 GB/ Bộ nhớ trong 16 GB</p>
                                                            <p>Dung lượng pin&nbsp;2420 mAh</p>
                                                        </div>
                                                        <div class="clearfix">
                                                        </div>
                                                    </div>
                                                    <div class="action-product bg-danger-main">
                                                        <a href="product-detail.html" class="item-action">
                                                            <span class="fa fa-search"></span>
                                                        </a>
                                                        <a class=" btn-quickview" data-toggle="modal" data-target="#QuickView" data-placement="left" title="Xem nhanh">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                        <a href="javascript://" class="item-action btn-compare" product-id="110">
                                                            <span class="fa fa-retweet"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        </div>
                                        <div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
        